
@{
    ViewBag.Title = "loginadmin";
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/Content/layoutbackgroundadmin.css" rel="stylesheet" />
</head>
<body>
    <div class="totalemployee">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
